<footer id="jg-footer">
    <div class="jg-grid-layout">
        <a href="" class="jg-grid-item jg-grid-1/12">About</a>    
        <a href="" class="jg-grid-item jg-grid-1/12">Projects</a>    
        <a href="" class="jg-grid-item jg-grid-1/12">Contact</a>    
        <small class="jg-grid-item jg-grid-1/1">&copy;&nbsp;2017&nbsp;Juan Gabriel Taruc</small>
    </div>
    <button id="jg-scroll-up-btn" type="button">
        <svg><use xlink:href="#svg_arrow_down"></use></svg>
    </button>
</footer>