<aside id="jg-sidebar">
    <div>
        <label for="jg-sidebar-checkbox">
            <svg><use xlink:href="#svg_arrow_down"></use></svg>
        </label>
    </div>
    <a class="sidebar-item" href="/#about">About</a>
    <a class="sidebar-item" href="/#projects">Projects</a>
    <a class="sidebar-item" href="/#contact">Contact</a>
</aside>
<label id="jg-sidebar-backdrop" for="jg-sidebar-checkbox"></label>