<input id="jg-sidebar-checkbox" type="checkbox" class="hidden" autocomplete="off" tabindex="-1">
<aside id="jg-sidebar">
    <label id="menu-icon" for="jg-sidebar-checkbox">
        <svg>
            <use xlink:href="#svg_menu"></use>
        </svg>
    </label>
    <a href="#about">About</a>
    <a href="#projects">Projects</a>
    <a href="#contact">Contact</a>
</aside>
<label id="jg-sidebar-backdrop" for="jg-sidebar-checkbox"></label>