<footer id="jg-footer">
    <div class="jg-grid-layout">
        <a href="" class="jg-grid-item jg-grid-1/12">About</a>    
        <a href="" class="jg-grid-item jg-grid-1/12">Projects</a>    
        <a href="" class="jg-grid-item jg-grid-1/12">Contact</a>    
    </div>
</footer>