$theme-color: #1f2527;
$color-on-background: rgba(255, 255, 255, 0.85);

#jg-header {
    .jg-header--left {
        .jg-grid-item {
            max-width: 10rem;
            align-items: center;
            justify-content: center;
        }
    }

    .jg-header--right {
        display: none;
    }

    #menu-icon {
        max-width: 60px;
        align-items: center;
        justify-content: center;
        svg {
            width: 32px;
            height: 32px;
            fill: $color-on-background;
        }
    }

    //testing
    background-color: $theme-color;
    color: $color-on-background;
    height: 50px;
    width: 100%;
}

//desktop
@media (min-width: 551px) {
    #jg-header {
        .jg-header--right {
            display: flex;
            justify-content: flex-end;
            
            .jg-grid-item {
                max-width: 5rem;
                align-items: center;
                justify-content: center;
            }
        }

        #menu-icon {
            display: none;
        }
    }
}