$theme-color: #222222;
$color-on-background: rgba(255, 255, 255, 0.85);

body {
    background-color: $theme-color;
}

.jg-hero-bg {
    overflow: hidden;
    z-index: -1;
    transform: translateY(-80px);
    width: 100%;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        position: absolute;
        width: 120%;
        height: 105%;
        display: block;
        background: url(../assets/hero-img.jpg) 0 0/cover no-repeat #222222;
        background-color: #222222;
        background-position: center;
        transition: 6.5s transform cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    main {
        width: 300px;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 5;
    }
}

.jg-info {
    padding: 32px 32px 64px 32px;

    .jg-grid-layout {
        margin: 0 auto;
        width: 100%;
        max-width: 800px;

        .jg-grid-item {
            min-width: 150px;
        }
    }

    .jg-info--title {
        height: 5rem;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 300;
        color: $color-on-background;
    }
}

#about {
    img {
        margin: 0 auto 16px auto;
        width: 150px;
        height: 150px;
        max-width: 150px;
        max-height: 150px;
        background-color: gray;
        border-radius: 50%;
    }

    .bio {
        margin: 0 8px;
        height: 150px;
        background-color: gray;
    }
}

#projects {
    .jg-grid-layout {
        transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1)
    }

    .project-item {
        padding: 4px;
        div {
            width: 100%;
            height: 100px;
            background-color: gray;
        }
    }
}

#contact {
    .contact-item {
        height: 100px;
        background-color: gray;
    }
}